# HAVING CLAUSE

In [6]:
SELECT Jobtitle, COUNT(JobTitle)
FROM [Projects].[dbo].[EmployeeDemographics]
JOIN [Projects].[dbo].[EmployeeSalary]
    ON EmployeeDemographics.EmployeeID = EmployeeSalary.EmployeeID
GROUP BY JobTitle


SELECT Jobtitle, COUNT(JobTitle)
FROM [Projects].[dbo].[EmployeeDemographics]
JOIN [Projects].[dbo].[EmployeeSalary]
    ON EmployeeDemographics.EmployeeID = EmployeeSalary.EmployeeID
GROUP BY JobTitle
HAVING COUNT(JobTitle) > 1


SELECT Jobtitle, AVG(Salary)
FROM [Projects].[dbo].[EmployeeDemographics]
JOIN [Projects].[dbo].[EmployeeSalary]
    ON EmployeeDemographics.EmployeeID = EmployeeSalary.EmployeeID
GROUP BY JobTitle
HAVING AVG(Salary) > 45000
ORDER BY AVG(Salary)

Jobtitle,(No column name)
Accountant,2
HR,1
Receptionist,1
Regional Manager,1
Salesman,3
Supplier Relations,1

Jobtitle,(No column name)
Accountant,2
Salesman,3

Jobtitle,(No column name)
HR,50000
Salesman,52000
Regional Manager,65000

# UPDATING & DELETING DATA

In [7]:
SELECT * 
FROM [Projects].[dbo].[EmployeeDemographics]

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Halpert,30,Male
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male
1011,Ryan,Howard,26,Male
NULL,Holly,Flax,NULL,Female
1013,Darryl,Philbin,NULL,Male

In [9]:
UPDATE [Projects].[dbo].[EmployeeDemographics]
SET EmployeeID = 1012
WHERE FirstName = 'Holly' AND LastName = 'Flax'

SELECT * 
FROM [Projects].[dbo].[EmployeeDemographics]

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Halpert,30,Male
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male
1011,Ryan,Howard,26,Male
1012,Holly,Flax,NULL,Female
1013,Darryl,Philbin,NULL,Male

In [10]:
UPDATE [Projects].[dbo].[EmployeeDemographics]
SET Age = 31, Gender = 'Female'
WHERE FirstName = 'Holly' AND LastName = 'Flax'

SELECT * 
FROM [Projects].[dbo].[EmployeeDemographics]

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Halpert,30,Male
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male
1011,Ryan,Howard,26,Male
1012,Holly,Flax,31,Female
1013,Darryl,Philbin,NULL,Male

## DELETE QUERY

In [11]:
DELETE FROM [Projects].[dbo].[EmployeeDemographics]
WHERE EmployeeID = 1002

SELECT * 
FROM [Projects].[dbo].[EmployeeDemographics]

-- NOTE: DELETE query cannot be undone.

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Halpert,30,Male
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male
1011,Ryan,Howard,26,Male
1012,Holly,Flax,31,Female
1013,Darryl,Philbin,NULL,Male

# ALIASING

In [14]:
SELECT FirstName AS Fname
FROM [Projects].[dbo].[EmployeeDemographics]

SELECT FirstName + ' ' + LastName AS [Full Name]
FROM [Projects].[dbo].[EmployeeDemographics]

Fname
Jim
Dwight
Angela
Toby
Michael
Meredith
Stanley
Kevin
Ryan
Holly
Darryl

Full Name
Jim Halpert
Dwight Schrute
Angela Martin
Toby Flenderson
Michael Scott
Meredith Palmer
Stanley Hudson
Kevin Malone
Ryan Howard
Holly Flax
Darryl Philbin

In [18]:
SELECT Demo.EmployeeID, Sal.Salary
FROM [Projects].[dbo].[EmployeeDemographics] AS Demo
JOIN [Projects].[dbo].[EmployeeSalary] AS Sal
    ON Demo.EmployeeID = Sal.EmployeeID

EmployeeID,Salary
1001,45000
1003,63000
1004,47000
1005,50000
1006,65000
1007,41000
1008,48000
1009,42000

In [19]:
SELECT Demo.EmployeeID, Demo.FirstName, Demo.LastName, Sal.JobTitle, Ware.Age
FROM [Projects].[dbo].[EmployeeDemographics] AS Demo
LEFT JOIN [Projects].[dbo].[EmployeeSalary] AS Sal
    ON Demo.EmployeeID = Sal.EmployeeID
LEFT JOIN [Projects].[dbo].[WareHouseEmployeeDemographics] AS Ware
    ON Demo.EmployeeID = Ware.EmployeeID

EmployeeID,FirstName,LastName,JobTitle,Age
1001,Jim,Halpert,Salesman,NULL
1003,Dwight,Schrute,Salesman,NULL
1004,Angela,Martin,Accountant,NULL
1005,Toby,Flenderson,HR,NULL
1006,Michael,Scott,Regional Manager,NULL
1007,Meredith,Palmer,Supplier Relations,NULL
1008,Stanley,Hudson,Salesman,NULL
1009,Kevin,Malone,Accountant,NULL
1011,Ryan,Howard,NULL,NULL
1012,Holly,Flax,NULL,NULL
1013,Darryl,Philbin,NULL,NULL

# PARTITION BY

In [21]:
SELECT *
FROM [Projects].[dbo].[EmployeeDemographics]

SELECT *
FROM [Projects].[dbo].[EmployeeSalary]

SELECT *
FROM [Projects].[dbo].[EmployeeDemographics] AS dem 
JOIN [Projects].[dbo].[EmployeeSalary] AS sal 
    ON dem.EmployeeID = sal.EmployeeID

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Halpert,30,Male
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male
1011,Ryan,Howard,26,Male
1012,Holly,Flax,31,Female
1013,Darryl,Philbin,NULL,Male

EmployeeID,JobTitle,Salary
1001,Salesman,45000
1002,Receptionist,36000
1003,Salesman,63000
1004,Accountant,47000
1005,HR,50000
1006,Regional Manager,65000
1007,Supplier Relations,41000
1008,Salesman,48000
1009,Accountant,42000
1010,NULL,47000
NULL,Salesman,43000

EmployeeID,FirstName,LastName,Age,Gender,EmployeeID,JobTitle,Salary
1001,Jim,Halpert,30,Male,1001,Salesman,45000
1003,Dwight,Schrute,29,Male,1003,Salesman,63000
1004,Angela,Martin,31,Female,1004,Accountant,47000
1005,Toby,Flenderson,32,Male,1005,HR,50000
1006,Michael,Scott,35,Male,1006,Regional Manager,65000
1007,Meredith,Palmer,32,Female,1007,Supplier Relations,41000
1008,Stanley,Hudson,38,Male,1008,Salesman,48000
1009,Kevin,Malone,31,Male,1009,Accountant,42000

In [23]:
SELECT FirstName, LastName, Gender, Salary, COUNT(Gender) OVER (PARTITION BY Gender) as TotalGender
FROM [Projects].[dbo].[EmployeeDemographics] AS dem 
JOIN [Projects].[dbo].[EmployeeSalary] AS sal 
    ON dem.EmployeeID = sal.EmployeeID


SELECT Gender, COUNT(Gender)
FROM [Projects].[dbo].[EmployeeDemographics] AS dem 
JOIN [Projects].[dbo].[EmployeeSalary] AS sal 
    ON dem.EmployeeID = sal.EmployeeID
GROUP BY Gender

FirstName,LastName,Gender,Salary,TotalGender
Angela,Martin,Female,47000,2
Meredith,Palmer,Female,41000,2
Stanley,Hudson,Male,48000,6
Kevin,Malone,Male,42000,6
Toby,Flenderson,Male,50000,6
Michael,Scott,Male,65000,6
Jim,Halpert,Male,45000,6
Dwight,Schrute,Male,63000,6

Gender,(No column name)
Female,2
Male,6