Joins

In [1]:
-- Create Table EmployeeDemographics 
-- (EmployeeID int, 
-- FirstName varchar(50), 
-- LastName varchar(50), 
-- Age int, 
-- Gender varchar(50)
-- )

-- Create Table EmployeeSalary 
-- (EmployeeID int, 
-- JobTitle varchar(50), 
-- Salary int
-- )

-- Create Table WareHouseEmployeeDemographics 
-- (EmployeeID int, 
-- FirstName varchar(50), 
-- LastName varchar(50), 
-- Age int, 
-- Gender varchar(50)
-- )

In [2]:
-- Insert into [Projects].[dbo].[EmployeeDemographics] VALUES
-- (1001, 'Jim', 'Halpert', 30, 'Male'),
-- (1002, 'Pam', 'Beasley', 30, 'Female'),
-- (1003, 'Dwight', 'Schrute', 29, 'Male'),
-- (1004, 'Angela', 'Martin', 31, 'Female'),
-- (1005, 'Toby', 'Flenderson', 32, 'Male'),
-- (1006, 'Michael', 'Scott', 35, 'Male'),
-- (1007, 'Meredith', 'Palmer', 32, 'Female'),
-- (1008, 'Stanley', 'Hudson', 38, 'Male'),
-- (1009, 'Kevin', 'Malone', 31, 'Male'),
-- (1011, 'Ryan', 'Howard', 26, 'Male'),
-- (Null, 'Holly', 'Flax',Null , 'Female'),
-- (1013, 'Darryl', 'Philbin', Null, 'Male')


-- Insert Into [Projects].[dbo].[EmployeeSalary] VALUES
-- (1001, 'Salesman', 45000),
-- (1002, 'Receptionist', 36000),
-- (1003, 'Salesman', 63000),
-- (1004, 'Accountant', 47000),
-- (1005, 'HR', 50000),
-- (1006, 'Regional Manager', 65000),
-- (1007, 'Supplier Relations', 41000),
-- (1008, 'Salesman', 48000),
-- (1009, 'Accountant', 42000),
-- (1010, Null, 47000),
-- (Null, 'Salesman', 43000)

-- Insert into [Projects].[dbo].[WareHouseEmployeeDemographics] VALUES
-- (1013, 'Darryl', 'Philbin', NULL, 'Male'),
-- (1050, 'Roy', 'Anderson', 31, 'Male'),
-- (1051, 'Hidetoshi', 'Hasagawa', 40, 'Male'),
-- (1052, 'Val', 'Johnson', 31, 'Female')

In [3]:
SELECT * FROM [Projects].[dbo].[EmployeeDemographics]

SELECT * FROM [Projects].[dbo].[EmployeeSalary]

SELECT * FROM [Projects].[dbo].[WareHouseEmployeeDemographics]

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Halpert,30,Male
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male
1011,Ryan,Howard,26,Male
NULL,Holly,Flax,NULL,Female
1013,Darryl,Philbin,NULL,Male

EmployeeID,JobTitle,Salary
1001,Salesman,45000
1002,Receptionist,36000
1003,Salesman,63000
1004,Accountant,47000
1005,HR,50000
1006,Regional Manager,65000
1007,Supplier Relations,41000
1008,Salesman,48000
1009,Accountant,42000
1010,NULL,47000
NULL,Salesman,43000

EmployeeID,FirstName,LastName,Age,Gender
1013,Darryl,Philbin,NULL,Male
1050,Roy,Anderson,31,Male
1051,Hidetoshi,Hasagawa,40,Male
1052,Val,Johnson,31,Female

# **JOINS**

## Inner Joins

In [4]:
SELECT * FROM [Projects].[dbo].[EmployeeDemographics]
Inner JOIN [Projects].[dbo].[EmployeeSalary]
    ON EmployeeDemographics.EmployeeID = EmployeeSalary.EmployeeID

-- Inner Join only shows items that are similar in both tables

EmployeeID,FirstName,LastName,Age,Gender,EmployeeID,JobTitle,Salary
1001,Jim,Halpert,30,Male,1001,Salesman,45000
1002,Pam,Beasley,30,Female,1002,Receptionist,36000
1003,Dwight,Schrute,29,Male,1003,Salesman,63000
1004,Angela,Martin,31,Female,1004,Accountant,47000
1005,Toby,Flenderson,32,Male,1005,HR,50000
1006,Michael,Scott,35,Male,1006,Regional Manager,65000
1007,Meredith,Palmer,32,Female,1007,Supplier Relations,41000
1008,Stanley,Hudson,38,Male,1008,Salesman,48000
1009,Kevin,Malone,31,Male,1009,Accountant,42000

## Outer Join

In [5]:
SELECT * FROM [Projects].[dbo].[EmployeeDemographics]
Full OUTER JOIN  [Projects].[dbo].[EmployeeSalary]
    ON EmployeeDemographics.EmployeeID = EmployeeSalary.EmployeeID

EmployeeID,FirstName,LastName,Age,Gender,EmployeeID,JobTitle,Salary
1001,Jim,Halpert,30,Male,1001,Salesman,45000
1002,Pam,Beasley,30,Female,1002,Receptionist,36000
1003,Dwight,Schrute,29,Male,1003,Salesman,63000
1004,Angela,Martin,31,Female,1004,Accountant,47000
1005,Toby,Flenderson,32,Male,1005,HR,50000
1006,Michael,Scott,35,Male,1006,Regional Manager,65000
1007,Meredith,Palmer,32,Female,1007,Supplier Relations,41000
1008,Stanley,Hudson,38,Male,1008,Salesman,48000
1009,Kevin,Malone,31,Male,1009,Accountant,42000
1011,Ryan,Howard,26,Male,NULL,NULL,NULL
NULL,Holly,Flax,NULL,Female,NULL,NULL,NULL
1013,Darryl,Philbin,NULL,Male,NULL,NULL,NULL
NULL,NULL,NULL,NULL,NULL,1010,NULL,47000
NULL,NULL,NULL,NULL,NULL,NULL,Salesman,43000

## Left Outer Join

In [6]:
SELECT * FROM [Projects].[dbo].[EmployeeDemographics]
LEFT OUTER JOIN  [Projects].[dbo].[EmployeeSalary]
    ON EmployeeDemographics.EmployeeID = EmployeeSalary.EmployeeID

EmployeeID,FirstName,LastName,Age,Gender,EmployeeID,JobTitle,Salary
1001,Jim,Halpert,30,Male,1001,Salesman,45000
1002,Pam,Beasley,30,Female,1002,Receptionist,36000
1003,Dwight,Schrute,29,Male,1003,Salesman,63000
1004,Angela,Martin,31,Female,1004,Accountant,47000
1005,Toby,Flenderson,32,Male,1005,HR,50000
1006,Michael,Scott,35,Male,1006,Regional Manager,65000
1007,Meredith,Palmer,32,Female,1007,Supplier Relations,41000
1008,Stanley,Hudson,38,Male,1008,Salesman,48000
1009,Kevin,Malone,31,Male,1009,Accountant,42000
1011,Ryan,Howard,26,Male,NULL,NULL,NULL
NULL,Holly,Flax,NULL,Female,NULL,NULL,NULL
1013,Darryl,Philbin,NULL,Male,NULL,NULL,NULL

## Right Outer Join

In [7]:
SELECT * FROM [Projects].[dbo].[EmployeeDemographics]
RIGHT OUTER JOIN  [Projects].[dbo].[EmployeeSalary]
    ON EmployeeDemographics.EmployeeID = EmployeeSalary.EmployeeID

EmployeeID,FirstName,LastName,Age,Gender,EmployeeID,JobTitle,Salary
1001,Jim,Halpert,30,Male,1001,Salesman,45000
1002,Pam,Beasley,30,Female,1002,Receptionist,36000
1003,Dwight,Schrute,29,Male,1003,Salesman,63000
1004,Angela,Martin,31,Female,1004,Accountant,47000
1005,Toby,Flenderson,32,Male,1005,HR,50000
1006,Michael,Scott,35,Male,1006,Regional Manager,65000
1007,Meredith,Palmer,32,Female,1007,Supplier Relations,41000
1008,Stanley,Hudson,38,Male,1008,Salesman,48000
1009,Kevin,Malone,31,Male,1009,Accountant,42000
NULL,NULL,NULL,NULL,NULL,1010,NULL,47000
NULL,NULL,NULL,NULL,NULL,NULL,Salesman,43000

In [8]:
SELECT EmployeeDemographics.EmployeeID, FirstName, LastName, Jobtitle, Salary
FROM [Projects].[dbo].[EmployeeDemographics]
INNER JOIN  [Projects].[dbo].[EmployeeSalary]
    ON EmployeeDemographics.EmployeeID = EmployeeSalary.EmployeeID

EmployeeID,FirstName,LastName,Jobtitle,Salary
1001,Jim,Halpert,Salesman,45000
1002,Pam,Beasley,Receptionist,36000
1003,Dwight,Schrute,Salesman,63000
1004,Angela,Martin,Accountant,47000
1005,Toby,Flenderson,HR,50000
1006,Michael,Scott,Regional Manager,65000
1007,Meredith,Palmer,Supplier Relations,41000
1008,Stanley,Hudson,Salesman,48000
1009,Kevin,Malone,Accountant,42000

In [9]:
SELECT EmployeeDemographics.EmployeeID, FirstName, LastName, Jobtitle, Salary
FROM [Projects].[dbo].[EmployeeDemographics]
RIGHT OUTER JOIN  [Projects].[dbo].[EmployeeSalary]
    ON EmployeeDemographics.EmployeeID = EmployeeSalary.EmployeeID


SELECT EmployeeSalary.EmployeeID, FirstName, LastName, Jobtitle, Salary
FROM [Projects].[dbo].[EmployeeDemographics]
RIGHT OUTER JOIN  [Projects].[dbo].[EmployeeSalary]
    ON EmployeeDemographics.EmployeeID = EmployeeSalary.EmployeeID

EmployeeID,FirstName,LastName,Jobtitle,Salary
1001,Jim,Halpert,Salesman,45000
1002,Pam,Beasley,Receptionist,36000
1003,Dwight,Schrute,Salesman,63000
1004,Angela,Martin,Accountant,47000
1005,Toby,Flenderson,HR,50000
1006,Michael,Scott,Regional Manager,65000
1007,Meredith,Palmer,Supplier Relations,41000
1008,Stanley,Hudson,Salesman,48000
1009,Kevin,Malone,Accountant,42000
NULL,NULL,NULL,NULL,47000
NULL,NULL,NULL,Salesman,43000

EmployeeID,FirstName,LastName,Jobtitle,Salary
1001,Jim,Halpert,Salesman,45000
1002,Pam,Beasley,Receptionist,36000
1003,Dwight,Schrute,Salesman,63000
1004,Angela,Martin,Accountant,47000
1005,Toby,Flenderson,HR,50000
1006,Michael,Scott,Regional Manager,65000
1007,Meredith,Palmer,Supplier Relations,41000
1008,Stanley,Hudson,Salesman,48000
1009,Kevin,Malone,Accountant,42000
1010,NULL,NULL,NULL,47000
NULL,NULL,NULL,Salesman,43000

In [10]:
SELECT EmployeeDemographics.EmployeeID, FirstName, LastName, Jobtitle, Salary
FROM [Projects].[dbo].[EmployeeDemographics]
LEFT OUTER JOIN  [Projects].[dbo].[EmployeeSalary]
    ON EmployeeDemographics.EmployeeID = EmployeeSalary.EmployeeID


SELECT EmployeeSalary.EmployeeID, FirstName, LastName, Jobtitle, Salary
FROM [Projects].[dbo].[EmployeeDemographics]
LEFT OUTER JOIN  [Projects].[dbo].[EmployeeSalary]
    ON EmployeeDemographics.EmployeeID = EmployeeSalary.EmployeeID

EmployeeID,FirstName,LastName,Jobtitle,Salary
1001,Jim,Halpert,Salesman,45000
1002,Pam,Beasley,Receptionist,36000
1003,Dwight,Schrute,Salesman,63000
1004,Angela,Martin,Accountant,47000
1005,Toby,Flenderson,HR,50000
1006,Michael,Scott,Regional Manager,65000
1007,Meredith,Palmer,Supplier Relations,41000
1008,Stanley,Hudson,Salesman,48000
1009,Kevin,Malone,Accountant,42000
1011,Ryan,Howard,NULL,NULL
NULL,Holly,Flax,NULL,NULL
1013,Darryl,Philbin,NULL,NULL

EmployeeID,FirstName,LastName,Jobtitle,Salary
1001,Jim,Halpert,Salesman,45000
1002,Pam,Beasley,Receptionist,36000
1003,Dwight,Schrute,Salesman,63000
1004,Angela,Martin,Accountant,47000
1005,Toby,Flenderson,HR,50000
1006,Michael,Scott,Regional Manager,65000
1007,Meredith,Palmer,Supplier Relations,41000
1008,Stanley,Hudson,Salesman,48000
1009,Kevin,Malone,Accountant,42000
NULL,Ryan,Howard,NULL,NULL
NULL,Holly,Flax,NULL,NULL
NULL,Darryl,Philbin,NULL,NULL

In [11]:
SELECT EmployeeDemographics.EmployeeID, FirstName, LastName, Salary
FROM [Projects].[dbo].[EmployeeDemographics]
INNER JOIN  [Projects].[dbo].[EmployeeSalary]
    ON EmployeeDemographics.EmployeeID = EmployeeSalary.EmployeeID
WHERE FirstName <> 'Michael'
ORDER BY Salary DESC

EmployeeID,FirstName,LastName,Salary
1003,Dwight,Schrute,63000
1005,Toby,Flenderson,50000
1008,Stanley,Hudson,48000
1004,Angela,Martin,47000
1001,Jim,Halpert,45000
1009,Kevin,Malone,42000
1007,Meredith,Palmer,41000
1002,Pam,Beasley,36000

In [12]:
SELECT Jobtitle, AVG(Salary) as AverageSalary
FROM [Projects].[dbo].[EmployeeDemographics]
INNER JOIN  [Projects].[dbo].[EmployeeSalary]
    ON EmployeeDemographics.EmployeeID = EmployeeSalary.EmployeeID
WHERE JobTitle = 'Salesman'
GROUP BY Jobtitle

Jobtitle,AverageSalary
Salesman,52000

# **UNIONS**

## Comparison with Inner Join

In [13]:
SELECT *
FROM [Projects].[dbo].[EmployeeDemographics]
Full OUTER JOIN  [Projects].[dbo].[WareHouseEmployeeDemographics]
    ON EmployeeDemographics.EmployeeID = WareHouseEmployeeDemographics.EmployeeID


SELECT *
FROM [Projects].[dbo].[EmployeeDemographics]
UNION
SELECT *
FROM [Projects].[dbo].[WareHouseEmployeeDemographics]


SELECT *
FROM [Projects].[dbo].[EmployeeDemographics]
UNION ALL
SELECT *
FROM [Projects].[dbo].[WareHouseEmployeeDemographics]
ORDER BY EmployeeID

EmployeeID,FirstName,LastName,Age,Gender,EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Halpert,30,Male,NULL,NULL,NULL,NULL,NULL
1002,Pam,Beasley,30,Female,NULL,NULL,NULL,NULL,NULL
1003,Dwight,Schrute,29,Male,NULL,NULL,NULL,NULL,NULL
1004,Angela,Martin,31,Female,NULL,NULL,NULL,NULL,NULL
1005,Toby,Flenderson,32,Male,NULL,NULL,NULL,NULL,NULL
1006,Michael,Scott,35,Male,NULL,NULL,NULL,NULL,NULL
1007,Meredith,Palmer,32,Female,NULL,NULL,NULL,NULL,NULL
1008,Stanley,Hudson,38,Male,NULL,NULL,NULL,NULL,NULL
1009,Kevin,Malone,31,Male,NULL,NULL,NULL,NULL,NULL
1011,Ryan,Howard,26,Male,NULL,NULL,NULL,NULL,NULL
NULL,Holly,Flax,NULL,Female,NULL,NULL,NULL,NULL,NULL
1013,Darryl,Philbin,NULL,Male,1013,Darryl,Philbin,NULL,Male
NULL,NULL,NULL,NULL,NULL,1050,Roy,Anderson,31,Male
NULL,NULL,NULL,NULL,NULL,1051,Hidetoshi,Hasagawa,40,Male
NULL,NULL,NULL,NULL,NULL,1052,Val,Johnson,31,Female

EmployeeID,FirstName,LastName,Age,Gender
NULL,Holly,Flax,NULL,Female
1001,Jim,Halpert,30,Male
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male
1011,Ryan,Howard,26,Male
1013,Darryl,Philbin,NULL,Male
1050,Roy,Anderson,31,Male
1051,Hidetoshi,Hasagawa,40,Male
1052,Val,Johnson,31,Female

EmployeeID,FirstName,LastName,Age,Gender
NULL,Holly,Flax,NULL,Female
1001,Jim,Halpert,30,Male
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male
1011,Ryan,Howard,26,Male
1013,Darryl,Philbin,NULL,Male
1013,Darryl,Philbin,NULL,Male
1050,Roy,Anderson,31,Male
1051,Hidetoshi,Hasagawa,40,Male
1052,Val,Johnson,31,Female

In [14]:
SELECT EmployeeID, FirstName, Age
FROM [Projects].[dbo].[EmployeeDemographics]
UNION
SELECT  EmployeeID, JobTitle, Salary
FROM [Projects].[dbo].[EmployeeSalary]
ORDER BY EmployeeID

-- NOTE: Unions can work with tables that have different items but will combine them if both tables have the same number of columns.

EmployeeID,FirstName,Age
NULL,Holly,NULL
NULL,Salesman,43000
1001,Jim,30
1001,Salesman,45000
1002,Pam,30
1002,Receptionist,36000
1003,Dwight,29
1003,Salesman,63000
1004,Accountant,47000
1004,Angela,31
1005,HR,50000
1005,Toby,32
1006,Michael,35
1006,Regional Manager,65000
1007,Meredith,32
1007,Supplier Relations,41000
1008,Salesman,48000
1008,Stanley,38
1009,Accountant,42000
1009,Kevin,31
1010,NULL,47000
1011,Ryan,26
1013,Darryl,NULL

# CASE STATEMENTS

In [15]:
-- Without a Case Statement
SELECT FirstName, LastName, Age
FROM [Projects].[dbo].[EmployeeDemographics]
WHERE Age is NOT NULL
ORDER BY Age

-- With a Case Statement
SELECT FirstName, LastName, Age,
CASE
    WHEN Age > 30 THEN 'Old'
    WHEN Age BETWEEN 27 AND 30 THEN 'Young'
    ELSE 'Baby'
END
FROM [Projects].[dbo].[EmployeeDemographics]
WHERE Age is NOT NULL
ORDER BY Age


-- NOTE: When a Case Statement's first condition is met, it will be returned regardless of subsequent conditions.

FirstName,LastName,Age
Ryan,Howard,26
Dwight,Schrute,29
Jim,Halpert,30
Pam,Beasley,30
Angela,Martin,31
Kevin,Malone,31
Toby,Flenderson,32
Meredith,Palmer,32
Michael,Scott,35
Stanley,Hudson,38

FirstName,LastName,Age,(No column name)
Ryan,Howard,26,Baby
Dwight,Schrute,29,Young
Jim,Halpert,30,Young
Pam,Beasley,30,Young
Angela,Martin,31,Old
Kevin,Malone,31,Old
Toby,Flenderson,32,Old
Meredith,Palmer,32,Old
Michael,Scott,35,Old
Stanley,Hudson,38,Old

### Use Case

In [16]:
SELECT FirstName, LastName, JobTitle, Salary,
CASE 
    WHEN JobTitle = 'Saleesman' THEN Salary + (Salary * .10)
    WHEN JobTitle = 'Acountant' THEN Salary + (Salary * .05)
    WHEN JobTitle = 'HR' THEN Salary + (Salary * .000001)
    ELSE Salary + (Salary * .03)
END AS SalaryAfterRaise
FROM [Projects].[dbo].[EmployeeDemographics]
JOIN [Projects].[dbo].[EmployeeSalary]
    ON EmployeeDemographics.EmployeeID = EmployeeSalary.EmployeeID

FirstName,LastName,JobTitle,Salary,SalaryAfterRaise
Jim,Halpert,Salesman,45000,46350.000000
Pam,Beasley,Receptionist,36000,37080.000000
Dwight,Schrute,Salesman,63000,64890.000000
Angela,Martin,Accountant,47000,48410.000000
Toby,Flenderson,HR,50000,50000.050000
Michael,Scott,Regional Manager,65000,66950.000000
Meredith,Palmer,Supplier Relations,41000,42230.000000
Stanley,Hudson,Salesman,48000,49440.000000
Kevin,Malone,Accountant,42000,43260.000000